# Ignore everything
#*

# But not these files (VHDL)
#!*.vhd
#!*.vhdl
#!*.cfg
#!*.aws
#!*.order
#!*.vhdl

# Don't ignore directories, but their contents are ignored unless specified
#!*/

# Optionally, unignore common files related to VHDL projects
!.gitignore
!*.xdc    # Constraints file (if needed for FPGA)
!*.ucf    # UCF constraints file
!*.qsf    # Quartus project file
!*.sdc    # Synopsys Design Constraints (for timing)
